Source: gm-notify
Section: mail
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Andrew Starr-Bochicchio <a.starr.b@gmail.com>
X-Python-Version: >= 2.6
Build-Depends: debhelper (>= 9),
       dh-python,
       python (>= 2.6.6-3~),
       python-setuptools
Standards-Version: 3.9.4
Homepage: https://launchpad.net/gm-notify

Package: gm-notify
Architecture: all
Provides: ${python:Provides}
Depends: python-gconf,
        python-glade2,
        python-gnomekeyring,
        python-gst0.10,
        python-gtk2,
        python-indicate,
        python-notify,
        python-twisted-words,
        ${misc:Depends},
        ${python:Depends},
        ${shlibs:Depends}
Description: Highly Ubuntu integrated GMail notifier
 gm-notify is a simple, lightweight, and highly Ubuntu integrated
 GMail notifier which takes advantages of features like notify-osd
 and indicator-applet.
