Source: gm-notify
Section: mail
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Andrew Starr-Bochicchio <a.starr.b@gmail.com>
X-Python-Version: >= 3.6
Build-Depends: debhelper (>= 9),
       dh-python,
       python (>= 3.6),
       python-setuptools
Standards-Version: 3.9.4
Homepage: https://launchpad.net/gm-notify

Package: gm-notify
Architecture: all
Provides: ${python:Provides}
Depends: python-twisted-words,
        python3-gi,
        python3-imaplib2,
        python3-apscheduler
        gir1.2-gtk-3.0,
        gir1.2-gnomekeyring-1.0,
        gir1.2-notify-0.7,
        gir1.2-gstreamer-1.0,
        gir1.2-messagingmenu-1.0,
        ${misc:Depends},
        ${python:Depends},
        ${shlibs:Depends}
Description: Highly Ubuntu integrated GMail notifier
 gm-notify is a simple, lightweight, and highly Ubuntu integrated
 GMail notifier which takes advantages of features like notify-osd
 and indicator-applet.
