
[Desktop Entry]
Encoding=UTF-8
Name=Google Mail
Comment=An E-Mail Notifier for Google Mail
Icon=/usr/share/gm-notify/gmail.png
Type=Application
Categories=Network;
Exec=gm-notify.py
StartupNotify=False
Terminal=false
