[Desktop Entry]
Encoding=UTF-8
Name=GMail Notifier
GenericName=EMail Notifier
Exec=gm-notify.py
Icon=evolution
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;
